body{ 
	text-align:center;
}
#loginInfo{ 
	margin-right:auto;
	margin-left:auto ;
	margin-top:150px;
	width:300px;
	height:200px;
	border:1px black solid;
	padding:30px;
	 
}
#inner{ 
	 
}

 

